In [1]:
import numpy as np
import pandas as pd

In [2]:
# Read and clean data
df = pd.read_csv('2022_04_13_gloss_alpha_000001.csv')
df.dropna(axis = 'rows', inplace = True)
df.drop(columns = 'Unnamed: 0', inplace = True)

In [3]:
# Split data into columns
df_values = df['0'].str.split('-', expand = True)

# Concat into a single dataframe and rename columns
df_final = pd.concat([df, df_values], axis = 1)
df_final.columns = ['Full name', 'Grubbs', 'Pearson', 'Paper 1', 'Paper 2', 'Img', 'Motiv', 'Watermark']
df_final.drop(columns = ['Full name', 'Img'], inplace = True)

# Remove filename extension from dataframe
df_scratch = df_final['Watermark'].str.split('.', expand = True)

# Finalize columns
df_export = pd.concat([df_scratch, df_final], axis = 1)
df_export.drop(columns = [1, 'Watermark'], inplace = True)
df_export.columns = ['Watermark', 'Detection', 'Pearson Correlation', 'Lak', 'Batch Position', 'Motive']
df_export.head()

  Watermark  Detection  Pearson Correlation     Lak Batch Position Motive
0       wm2       True             0.745202  offset              6  woman
1      orig      False             0.206725   cisti              1   dark
2       wm1       True             0.736187   cisti              1   dark
3       wm2       True             0.705318   cisti              1   dark
4       wm3       True             0.543153   cisti              1   dark

In [4]:
# Split data into unmarked and marked images
df_orig = df_export[df_export['Watermark'] == 'orig']
df_wm1 = df_export[df_export['Watermark'] == 'wm1']
df_wm2 = df_export[df_export['Watermark'] == 'wm2']
df_wm3 = df_export[df_export['Watermark'] == 'wm3']
df_wm = pd.concat([df_wm1, df_wm2, df_wm3], axis = 0)

In [5]:
# Show results for unmarked images
print(df_orig['Detection'].value_counts())

False    239
True       1
Name: Detection, dtype: int64

In [6]:
# Show results for marked images
print(df_wm['Detection'].value_counts())

True    720
Name: Detection, dtype: int64